.popupparent{
    width: 600px;
    height: 400px;
}
.popupelement {
    background-color: #fefefe;
    margin: 5%; /* 15% from the top and centered */
    padding: 40px;
    border: 2px solid cadetblue;
    width: 100%;
}